@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-between {
        @apply flex justify-between items-center;
    }

    .flex-box {
        @apply h-full w-1/2 flex flex-col items-center justify-center;
    }
}

.bg-red {
    @apply bg-red-500;
}

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
    justify-content: start;
}
.embla__slide {
    flex: 0 0 110%;
    min-width: 0;
    background: aqua;
}
