@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-between {
        @apply flex justify-between items-center;
    }
}

.bg-red {
    @apply bg-red-500;
}

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
    gap: 5px;
}
.embla__slide {
    flex: 0 0 110%;
    min-width: 0;
}
